
body{
  background-color: black;
  font-family: sans-serif;
}
h1{
  font-size: 40px;
}
.SongTitle{
  color : orange;
}
.Album{
  color : darkRed;
}
h2{
  font-size: 20px;
  color: gold;
}
.AlbumCover{
  float: right;
}
a{font-size: 20px}
a:link{
  color: orange;
}
a:visited{
  color: darkRed;
}
a:hover{
  color: orange;
}
